<h1>Welcome to onga veetu soru</h1>
<p>
	You find all the possible soru u can right here.
	<a href = "http://www.yahoo.com"> get them now</a>
	<%= link_to "One plate Food", "http://www.yahoo.com" %>
</p>
<p>
	<a href="#">Sign up now</a>
	<%= link_to "I want a plate", "#" %>
</p>

